{% extends "base.html" %}
{% load tz %}
{% load static %}

{% block page_title %}
Home page - Simple Votings
{% endblock %}


{% block content %} 
<div class="block">
    <a class="standart_button" href="#popup">Create new survey</a>
</div>

<header class="title">Vote right now</header>
<div id="user-surveys">
    <div id="survey-container" class="surveys"></div>

    <form id="load-more">
        {% csrf_token %}
        <input type="hidden" name="ajax-url" value="/api/survey/new/">
        <button type="submit">Load more</button>    
   </form>
</div>
{% endblock %}

{% block popup %}
{% if user %}
{% include 'survey_popup.html' %}

<div id="popup" class="overlay">
    <div class="popup">
        <header>
            <span>Create survey</span>
            <a class="close" href="#">&times;</a>
        </header>
        <div class="content">
            <form action="/api/survey/create/" method="post">
                {% csrf_token %}
                <input type="checkbox" name="allow_multiple" id="id_allow_multiple" hidden>

                <span>Creation date: {{ current_time | date:"d.m.Y" }}</span>

                <div class="field"> 
                    <span>Type:</span>
                    <button type="button" title="People can choose only one option" class="type type-1">1:N</button> 
                    <button type="button" title="People can choose one or more options" class="type type-2">M:N</button> 
                    <button type="button" title='People can only vote "yes" or "no"' class="type type-3">YES/NO</button>
                </div>
                
                <div class="field">
                    <span class="label">Title:</span>
                    <input type="text" name="title" maxlength="200" required id="id_title">
                </div>
                
                <div class="field">
                    <span class="label">Description:</span>
                    <textarea name="description" id="id_description" wrap="soft" cols="40" rows="3" class="description"></textarea>
                </div>
                
                <div class="field vote-options">
                    <span class="label">Vote options</span>
                    
                    <div class="vote-option remove-option-container">
                        <button type="button" class="icon remove-option"></button>
                        <input name="vote_option" type="text" maxlength="100" autocomplete="off">
                    </div>

                    <div class="vote-option remove-option-container">
                        <button type="button" class="icon remove-option"></button>
                        <input name="vote_option" type="text" maxlength="100" autocomplete="off">
                    </div>

                    <div class="vote-option add-option-container">
                        <button type="button" class="icon add-option"></button>
                        <input type="text">
                    </div>
                </div>
                
                <div class="send-button-container">
                    <button type="submit" class="send_button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/popup.js' %}"></script>
<script src="{% static 'js/surveys.js' %}"></script>
<script src="{% static 'js/create_survey.js' %}"></script>
{% endblock %}
