{% extends 'base.html' %}

{% block page_title %}
Login - Simple Votings
{% endblock %}

{% block content %} 
<div class="login-signup-container">
    <div class="top_line">
        <header class="text_1">Log In to Simple Votings</header>
        <a href="/"><i class='bx bx-x' href="/"></i></a>
    </div>

    <form action="/account/login/" method="post" class="middle_line">
        {% csrf_token %}
        <div class="field">
            <p class="text_2">Email</p>
            <input type="email" name="email" maxlength="254" required id="id_email">
        </div> 
        <div class="field">
            <p class="text_2">Password</p>
            <input type="password" name="password" maxlength="128" minlength="8" required id="id_passw">
        </div>
        
        {% if form.non_field_errors %} 
            <div class="error">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</з>
                {% endfor %}
            </div>
        {% endif %} 
        
        <button>Log In</button>
    </form>

    <div class="bottom_line">
        <p>new to Simple Votings?</p>
        <a href="/account/signup">SignUp now</a>
    </div>
</div>
{% endblock %}

